.container.calculator {
    margin:auto;
}

.roboto {
    font-family: Roboto;
    font-family: 14px;
}

.smallMoney {
  
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.77px;
    color: var(--cobalt-blue);
    margin-right: 10px;
}

.bigMoney {
    font-family: Roboto;
    font-size: 72px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 1px;
    color: var(--cobalt-blue);
}

.overflow-extended {
    position: relative;
    width: 100%;
}

.DisplayComponent {
    
    text-align: right;
    display: block;
    float: right;
    position: relative;
    right: 0px;
margin:auto;    
    margin-left: 30px;
    
}