
.controles-component {
    
    width: auto;
    text-align: right;
    margin-right: 56px;
    vertical-align: middle;

  }

  .controles-component a {
    height: 56px;
  }

  .boton {
    background-color: #071eb3;
    color: white;
    width: auto;
    text-align: center;
    line-height: 56px;
    font-size: 32px;
    font-stretch: normal;
    font-style: italic;
    line-height: 1;
    letter-spacing: 0.69px;
    color: #ffffff;
  }
  
  .simple {
    
    bottom: 0px;
    /*font-family: CormorantGaramond;*/ 
    width: 56px;
    height: 56px;
    display:inline-block;
    line-height: 56px;
  }
  
  .doble {
    /*font-family: CormorantGaramond;*/ 
    width: 120px;
    height: 56px;
    display:inline-block;
    line-height: 56px;
    margin-right: 1px;

  }